* {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 16px;
}

body {
	background-color: rgb(10, 10, 36);
}

main {
	background-color: white;
	width: 500px;
	margin: auto;
	padding: 10px;
	box-shadow: 3px 3px 5px rgba(177, 176, 176, 0.421);
}
